{% extends "master-page.html" %}

{% block left-menu %}
    {% include 'includes/left-menu.html' %} 
{% endblock %}

{%block nav-bar%}
    {% include 'includes/nav-bar.html' %} 
{%endblock%}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Contextual Classes -->

    <div class="card">
        <h5 class="card-header">Contextual Classes</h5>
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead>
              <tr>
                <th>Court Name</th>
                <th>Location</th>
                <th>Opening Hours</th>
                <th>Closing Hours</th>
                <th>Active</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for item in courtscourts %}
              <tr class="table-default">
                <td><i class="bx bxl-sketch bx-md text-warning me-4"></i> <span>{{item.CourtName}}</span></td>
                <td>{{item.Location}}</td>
                <td>{{item.OpeningHours}}</td>
                <td>{{item.ClosingHours}}</td>
                <td><span class="badge bg-label-primary me-1">Active</span></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="edit-court/{{ item.id }}"
                        ><i class="bx bx-edit-alt me-1"></i> Edit</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        ><i class="bx bx-trash me-1"></i> Delete</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}        
{% endblock %}
